<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dog Collector</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <div class="home__playlists">
            {% for size in sizes %}
        
                <div class="playlist mb-5">
                    <h3 class="title is-3 has-text-success">{{size.size}}</h3>
                    <hr />
        
                    {% for dog in size.dogs.all %}
        
                        <div class="song">
                            <span>{{forloop.counter}}</span>
                            <span><b>{{dog.name}}</b></span>
                            <span>
                                <a href="{% url 'size_dog_assoc' size.pk dog.pk %}?assoc=remove" class="button is-danger is-outlined">
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </a>
                            </span>
                        </div>
        
                    {% endfor %}
                </div>
            {% empty %} 
                <div class="playlist mb-5">"There are no dogs to display"</div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>